######################
# Project Specific
######################
.vscode/**
*.js
*.js.map
!systemjs-angular-loader.js
!systemjs.config.js

######################
# Node
######################
/node/**
/node_tmp/**
/node_modules/**
